.App {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}
.AddingPassword {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(166, 245, 255);
  width: 60%;
  height: 300px;
  border-radius: 20px;
  margin-bottom: 20px;
}
.AddingPassword button, input{
  width: 300px;
  height: 40px;
  border: 20px;
  border-color: black;
  border-radius: 7px;
  margin: 10px;
  padding-left: 15;
  font-size: 17px;
}

button{
  cursor: pointer;
}